{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.is_authenticated %}
<h1 class="text-info mt-1">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ</h1>
<h2 class="text-success">Chào {{ current_user.name }}!</h2>
{% else %}
<h2 class="text-success text-center">ĐĂNG NHẬP QUẢN TRỊ</h2>

<form method="post" action="/login">
  <div class="form-group">
    <label for="name">Tên đăng nhập:</label>
    <input type="text" class="form-control" placeholder="Tên đăng nhập" id="name" name="username" required />
  </div>
  <div class="form-group">
    <label for="pwd">Mật khẩu:</label>
    <input type="password" class="form-control" placeholder="Mật khẩu" id="pwd" name="password" required />
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endif %}

{% endblock %}