{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
{% if products %}
<div class="row">
    {% for p in products %}
    <div class="col-md-3 col-6 p-2">
        <div class="card">
            <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}">
            <div class="card-body">
                <h4 class="card-title">{{ p.name }}</h4>
                <p class="card-text">{{ p.price }} VNĐ</p>
                <a href="#" class="btn btn-primary">Xem chi tiết</a>
                <button class="btn btn-danger">Đặt hàng</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning mt-3">KHÔNG CÓ SẢN PHẨM NÀO</div>
{% endif %}
{% endblock %}